.button {
	&-14-BFJ {
		padding: 1rem 1.1rem;
	}
}


.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
    background-color: transparent;
    border: 1px solid color(secondary,500);
}