button {
	color: color(secondary, 500) !important;
}

.button {
	&-14-BFJ {
		padding: 1rem 1.1rem;
	}

	&-1YfofB.buttonColor-7qQbGO,
	&-1YfofB .buttonColor-7qQbGO {
		background-color: transparent;
		border: 1px solid color(secondary, 500);
	}
}

/* Button Textarea */
.lookBlank-3eh9lL {
	background: transparent;
	color: color(secondary, 500);
	border: 2px solid color(secondary, 500);
	clip-path: var(--ui-notch-path);
	padding: 1rem 0.7rem;
	margin: 8px;
}

.lookBlank-3eh9lL::before {
	content: "";
	display: block;
	position: absolute;
	width: var(--ui-notch-hypotenuse);
	height: 2px;
	top: auto;
	right: -6px;
	bottom: 5px;
	background-color: currentcolor;
	transform: rotate(-45deg);
	z-index: 100;
}

/* Button sidebar */
.button-14-BFJ {
	padding: 1rem 1.1rem;
}

.iconWrapper-2OrFZ1 {
	background-color: transparent;
	border: 1px solid color(primary, 500);
	border-radius: 2px;
	padding: 4px;
}

.icon-22AiRD {
	width: 24px;
	height: 24px;
	color: color(primary, 500) !important;
}

.iconBadge-qZ4Ksk {
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: color(primary, 300);
	box-shadow: var(--ui-glow);
}

/* Icon Text-group */
.children-19S4PO .iconWrapper-2OrFZ1 {
	border: none;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
}

/* Toolbar */
[class^="toolbar-"] [class^="iconWrapper-"] {
	height: 34px;
	border-radius: 2px;

	&[class^="icon-"] {
		color: color(primary, 500) !important;
	}

	&:hover {
		color: color(primary, 500);
		background-color: color(primary, 800);
	}
}

[class^="search-"] [class^="searchBar-"] {
	width: 240px;
	height: 32px;
	padding: 4px;
	color: color(secondary, 500);
	background-color: color(bg, 300);
	border: 1px solid color(primary, 600);
	box-shadow: var(--ui-glow);
}

/* Disconnect */
.rtcConnectionStatusConnected-VRZDjy.button-38aScr {
	border: none;
	padding: 0;
	clip-path: none;

	&:before {
		display: none;
	}

	.button-1YfofB.buttonColor-7qQbGO,
	.button-1YfofB .buttonColor-7qQbGO {
		background-color: transparent;
		border: 1px solid color(secondary, 500);
	}
}
