$colors: (
	primary: (
		200: #f4908b,
		300: #ea6f69,
		500: #e8615a,
		600: #9c3230,
		700: #5e2122,
		800: #451717,
		900: #3c181a,
	),
	secondary: (
		500: #2be4ea,
		900: #295459,
	),
	tertiary: (
		500: #fed33f,
	),
	bg: (
		300: #1e181e,
		500: #191a1e,
		gradient: radial-gradient(ellipse at 33% 10%, #461616 0%, transparent 75%),
	),
);

@function color($color, $shade) {
	@return var(--colors-#{$color}-#{$shade});
}