$color-light: #F2EFEA;
$color-light-hover: #D1CABE;

$color-dark: #151515;
$color-dark-hover: #000000;

$color-green: #9AFF1F;
$color-green-dark: #81D31D;

$shadow: 0px 8px 16px rgba(21, 21, 21, 0.25);
$shadow-dark: 0px 6px 14px rgba(242, 239, 234, 0.15);