// Tag: Header 

.head-box {

    margin-top: 48px;
    margin-bottom: 288px;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    #head-bar {

        @include responsive-xsm() {
        
            display: none;
            
        }

    }

    #head-mobile {

        display: none;

        @include responsive-xsm() {
        
            display: block;
            
        }

    }

}


// Tag: Card 

.card-context{

    border-radius: 15px;

    background: $color-light;
    box-shadow: $shadow-dark;

    .card-context-body {
    
        padding: 0px 80px;

        @include responsive-md() {
    
            padding: 0px 40px;
        
        }
    
    }

}


// Tag: Content 1 

.about-hello {
 
    padding-right: 300px;
    margin-top: -64px;

    h3 {
 
        font-size: 32px;
        letter-spacing: 0.15em;

        color: $color-light;

        @include responsive-md() {
    
            display: none;
        
        }

        @include responsive-lg() {
    
            font-size: 26px;
            letter-spacing: 0.15em;
        
        }

    }

    @include responsive-lg() {
    
        padding-right: 40px;
        margin-top: -64px;
        
    }
    
}

.picture {
 
    width: 80%;
    margin-top: -200px;

    img{
    
        border-radius: 15px;

        box-shadow: $shadow;

    }

    @include responsive-lg() {
    
        width: 100%;
        
    }
    
}

.about-me-info {
 
    margin-top: 48px;
    margin-bottom: 120px;

    .list-about {
 
        font-size: 22px;   

        color: $color-dark;

        li {
 
            margin-bottom: 16px;
 
        }

        #hello-mobile {
   
            display: none;

            @include responsive-md() {
    
                display: block;
        
            }
        
        }

    }

    @include responsive-sm() {
    
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
 
} 

.text-about-body {
 
    padding: 0px 90px;

    font-size: 22px;
    line-height: 32px;

    color: $color-dark;

    @include responsive-sm() {
    
        margin-bottom: 64px;
        
    }

    @include responsive-md() {
    
        padding: 0px 0px!important;
        
    }

    @include responsive-lg() {
    
        padding: 0px 24px;

        font-size: 18px;
        line-height: 28px;
        
    }

}


// Tag: Content 2 

.project-body {

    padding: 80px 80px!important;

    .title-project { 

        h3 {

            margin-bottom: 80px;

        }

    }

    .project-tag {

        margin-bottom: 16px;

        font-size: 22px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.15em;

    }

    .desc-project {

        font-size: 16px;
        line-height: 26px;

    }

    .divider {

        margin: 72px 0px;

    }

    .artist-credit { 

    margin-top: 32px;

    }

    .especial-link {

        color: $color-dark;

        &:hover {

            color: $color-green-dark;

        }

    }

    @include responsive-md() {
    
        padding: 40px 40px!important;
        
    }

}


// Tag: Contact & Footer 

.contact-body {

    margin-bottom: 40px;

    .contact-info {
 
        padding: 100px 0px;

        @include responsive-md() {
    
            padding: 80px 0px;
        
        }

    }

    .title-contact {
 
        margin-bottom: 16px;

    }

    .list-info {
 
        margin-top: 24px;

        li {
 
            margin-bottom: 16px;

            font-size: 20px;
            
            color: $color-dark;

            @include responsive-md() {
    
                font-size: 16px;
                margin-bottom: 24px;
        
            }

        }

    } 

    .github-body {

        @include responsive-sm() {
    
            margin-bottom: 80px;
        
        }

    }

    #github-svg {

        svg {

            fill: $color-dark;

            &:hover{

                cursor: url('../../assets/cursor-hover.cur'), pointer !important;
                
                fill: $color-green-dark;

            }

        }

    }

}
