@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  cursor: url("../assets/cursor.cur"), pointer;
  color: #151515;
  background-color: #151515;
}

section {
  margin-bottom: 64px;
}

a {
  text-decoration: none;
  color: #151515;
}

a:hover {
  cursor: url("../assets/cursor-hover.cur"), pointer;
  color: #000000;
}

h4 {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #151515;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.1em;
  }
}

h5 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #F2EFEA;
}

span {
  margin: 0 8px;
  color: #9AFF1F;
}

.mb-40 {
  margin-bottom: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2EFEA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.head-box {
  margin-top: 48px;
  margin-bottom: 288px;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 424px) {
  .head-box #head-bar {
    display: none;
  }
}

.head-box #head-mobile {
  display: none;
}

@media screen and (max-width: 424px) {
  .head-box #head-mobile {
    display: block;
  }
}

.card-context {
  border-radius: 15px;
  background: #F2EFEA;
  -webkit-box-shadow: 0px 6px 14px rgba(242, 239, 234, 0.15);
          box-shadow: 0px 6px 14px rgba(242, 239, 234, 0.15);
}

.card-context .card-context-body {
  padding: 0px 80px;
}

@media screen and (max-width: 768px) {
  .card-context .card-context-body {
    padding: 0px 40px;
  }
}

.about-hello {
  padding-right: 300px;
  margin-top: -64px;
}

.about-hello h3 {
  font-size: 32px;
  letter-spacing: 0.15em;
  color: #F2EFEA;
}

@media screen and (max-width: 768px) {
  .about-hello h3 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .about-hello h3 {
    font-size: 26px;
    letter-spacing: 0.15em;
  }
}

@media screen and (max-width: 1200px) {
  .about-hello {
    padding-right: 40px;
    margin-top: -64px;
  }
}

.picture {
  width: 80%;
  margin-top: -200px;
}

.picture img {
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 16px rgba(21, 21, 21, 0.25);
          box-shadow: 0px 8px 16px rgba(21, 21, 21, 0.25);
}

@media screen and (max-width: 1200px) {
  .picture {
    width: 100%;
  }
}

.about-me-info {
  margin-top: 48px;
  margin-bottom: 120px;
}

.about-me-info .list-about {
  font-size: 22px;
  color: #151515;
}

.about-me-info .list-about li {
  margin-bottom: 16px;
}

.about-me-info .list-about #hello-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .about-me-info .list-about #hello-mobile {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .about-me-info {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.text-about-body {
  padding: 0px 90px;
  font-size: 22px;
  line-height: 32px;
  color: #151515;
}

@media screen and (max-width: 576px) {
  .text-about-body {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .text-about-body {
    padding: 0px 0px !important;
  }
}

@media screen and (max-width: 1200px) {
  .text-about-body {
    padding: 0px 24px;
    font-size: 18px;
    line-height: 28px;
  }
}

.project-body {
  padding: 80px 80px !important;
}

.project-body .title-project h3 {
  margin-bottom: 80px;
}

.project-body .project-tag {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15em;
}

.project-body .desc-project {
  font-size: 16px;
  line-height: 26px;
}

.project-body .divider {
  margin: 72px 0px;
}

.project-body .artist-credit {
  margin-top: 32px;
}

.project-body .especial-link {
  color: #151515;
}

.project-body .especial-link:hover {
  color: #81D31D;
}

@media screen and (max-width: 768px) {
  .project-body {
    padding: 40px 40px !important;
  }
}

.contact-body {
  margin-bottom: 40px;
}

.contact-body .contact-info {
  padding: 100px 0px;
}

@media screen and (max-width: 768px) {
  .contact-body .contact-info {
    padding: 80px 0px;
  }
}

.contact-body .title-contact {
  margin-bottom: 16px;
}

.contact-body .list-info {
  margin-top: 24px;
}

.contact-body .list-info li {
  margin-bottom: 16px;
  font-size: 20px;
  color: #151515;
}

@media screen and (max-width: 768px) {
  .contact-body .list-info li {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 576px) {
  .contact-body .github-body {
    margin-bottom: 80px;
  }
}

.contact-body #github-svg path {
  fill: #151515;
}

.contact-body #github-svg path:hover {
  fill: #000000;
}
/*# sourceMappingURL=styles.css.map */