@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*, *::after, *::before {

    margin: 0;
	padding: 0;
	border: 0;

    list-style: none;

	vertical-align: baseline;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

    cursor: url('../assets/cursor.cur'), pointer;


}


@import './theme/functions';
@import './theme/colors';


body {

    
    color: $color-dark;
    background-color: $color-dark;

}

section {

    margin-bottom: 64px;

}

a {

    text-decoration: none;
	color: $color-dark;

    &:hover {
    
        cursor: url('../assets/cursor-hover.cur'), pointer !important;

        color: $color-green-dark;
    
    }

}

h4 {

    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;

	color: $color-dark;

    @include responsive-md() {
    
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.1em;
        
    }

}

h5 {

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.08em;

    color: $color-light;

}

span {

    margin: 0 8px;
    color: $color-green;

}

.mb-40 {
 
    margin-bottom: 40px;
 
}


::-webkit-scrollbar {

    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {

    background: $color-light;

}
 
/* Handle */
::-webkit-scrollbar-thumb {

    background: $color-dark; 

    &:hover {

        background: $color-dark-hover;

    }

}


@import './theme/content';

