@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}


* {


    font-family: 'Poppins', sans-serif;
    --color-light: #F2EFEA;
    --color-light-hover: #D1CABE;
    --color-dark: #151515;
    --color-dark-hover: #000000;
    --color-green: #9AFF1F;
    --color-green-dark: #81D31D;


    box-sizing: border-box;

}


body {

	background-color: var(--color-dark);
	color: var(--color-dark);
    cursor: url('../../assets/cursor.cur'), pointer;
    
}


ul {

    list-style: none;

}


h5 {

    font-weight: 400;
    font-size: 16px;
    color: var(--color-light);


}


h4 {

    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.1em;
	color: var(--color-dark);

}

span {

    margin: 0 8px;
    color: var(--color-green);

}

a {

    text-decoration: none;
	color: var(--color-dark);

}


a:hover {

	color: var(--color-dark-hover);
    cursor: url('../../assets/cursor-hover.cur'), pointer;

}


header {

    margin-top: 48px;
    margin-bottom: 288px;

}


section {

    margin-bottom: 64px;

}


.card-context{

    border-radius: 15px;
    background: var(--color-light);
    box-shadow: 0px 6px 14px rgba(242, 239, 234, 0.15);

}


.card-context-body {
 
    padding: 0px 80px;
 
 }


 .mb-40 {
 
    margin-bottom: 40px;
 
 }
  
/* width */
::-webkit-scrollbar {

  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {

  background: var(--color-light);

}
 
/* Handle */
::-webkit-scrollbar-thumb {

  background: var(--color-dark); 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: var(--color-dark-hover);

}


/* 
 *  Section About-Me
 *  - Hello   
 *  - Picture   
 *  - List   
 *  - Info   
 */


 .about-hello {
 
    padding-right: 300px;
    margin-top: -64px;
    
 }

 #hello-mobile {
   
    display: none;
   
 }


 .about-hello h3 {
 
    color: var(--color-light);
    font-size: 32px;
    letter-spacing: 0.15em;

 }   


 .picture {
 
    margin-top: -200px;
    width: 80%;
    
 }


 .picture img{
 
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(21, 21, 21, 0.25);

 }


 .about-me-info {
 
    margin-top: 48px;
    margin-bottom: 120px;
 
 }  


 .list-about {
 
    color: var(--color-dark);
    font-size: 22px;    

 }
 

 .list-about li {
 
    margin-bottom: 16px;
 
 }



 .text-about-body {
 
    padding: 0px 90px;
    color: var(--color-dark);
    font-size: 22px;
    line-height: 32px;

 }    
 


/* 
 *  Section Contact
 *  - Contact Info   
 *  - List Info   
 */

 #contact {
 
    margin-bottom: 80px;

 }

 .contact-info {
 
    padding: 100px 0px;
 
 }   


 .list-info {
 
    margin-top: 24px;

 }   


 .list-info li{
 
    color: var(--color-dark);
    font-size: 20px;
    margin-bottom: 16px;

 }


 .title-contact {
 
    margin-bottom: 16px;

 }


 #github-svg path{

    fill: var(--color-dark);

}


#github-svg path:hover{

    fill: var(--color-dark-hover);

}


/* 
 *  Project
 *  - Title
 */

.title-project h3{

    margin-bottom: 80px;

}


.project-tag {

    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.15em;
    margin-bottom: 16px;

}

.artist-credit { 

    margin-top: 32px;

}

.especial-link {

    color: var(--color-dark);

}

.especial-link:hover {

    color: var(--color-green-dark);

}

.desc-project {

    font-size: 16px;
    line-height: 26px;

}

.divider {

    margin: 72px 0px;

}


.project-body {

    padding: 80px 80px;

}